//
// Alerts
// --------------------------------------------------


// Base styles
// -------------------------

.alert {
  padding: $alert-padding;
  margin-bottom: $line-height-computed;
  border-radius:3px;
  @include light-shadow();

  // Headings for larger alerts
  h4 {
    margin-top: 0;
    // Specified for the h4 to prevent conflicts of changing $headings-color
    color: inherit;
  }

  // Provide class for links that match alerts
  a,
  .alert-link {
    color:inherit;
    font-weight: $alert-link-font-weight;
  }

  // Improve alignment and spacing of inner content
  > p,
  > ul {
    margin-bottom: 0;
  }

  > p + p {
    margin-top: 5px;
  }
}

// Dismissible alerts
//
// Expand the right padding and account for the close button's positioning.

.alert-dismissible {
  padding-right: ($alert-padding + 20);

  // Adjust close link position
  .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
  }
}

// Alternate styles
//
// Generate contextual modifier classes for colorizing the alert.

.alert-success {
  @include alert-variant(color("green", "base"), color("green", "base"), color("grey", "lighten-5"));
}

.alert-info {
  @include alert-variant(color("cyan", "base"), color("cyan", "base"), color("grey", "lighten-5"));
}

.alert-warning {
  @include alert-variant(color("amber", "darken-1"), color("amber", "darken-1"), color("grey", "lighten-5"));
}

.alert-danger {
  @include alert-variant(color("red", "base"), color("red", "base"), color("grey", "lighten-5"));
}
