.user.user-menu > .dropdown-menu {
  width: 20em;
  padding: 0;
  > .user-header {
    padding: 0.8em;
    text-align: center;
    background: #333;
    > p > {
      small {
        display: block;
        width: 100%;
      }
      span {
        display: block;
        width: 100%;
        font-size: 1.2em;
        padding-top: 0.5em;
      }
      small {
        font-size: 1em;
      }
    }
  }
} 

.user-menu > .dropdown-menu > {
  .user-body {
    padding: 1em;
    border-bottom: 1px solid #f4f4f4;
    border-top: 1px solid #dddddd;
  }
  .user-footer {
    background-color: #f9f9f9;
    padding: 0.8em;
    width: 100%;
    display: table;
  }
}

.user.user-menu > .dropdown-menu > {
  .user-body:after {
    clear: both;
  }
  .user-footer:before, div:after {
    content: " ";
    display: table;
  }
}

.navbar-nav > .user-menu > .dropdown-menu > .user-body:after {
  content: " ";
  display: table;
}

.user.user-menu > .dropdown-menu > .user-header {
  color: #f1f1f1;
}
