$size-on-top: 3.75rem;

$anmiate: all 0.4s;
.collapsible.popout > li {
  box-shadow: none;
  margin: 0;
  transition: none;
}
.collapsible.popout > li.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin: 0 24px;
  transition: margin 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.collapsible.popout > li.card.active{
  margin: 16px 0;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);

}
@media only screen and (min-width: 601px) {
  nav,
  nav .nav-wrapper i,
  nav a.button-collapse,
  nav a.button-collapse i {
    height: $size-on-top;
    line-height: $size-on-top;
  }

  .navbar-fixed {
    height: $size-on-top;
  }
}
body{
  background: color("grey", "lighten-5");
  color:#333;
}
.splash-browser-window{
  background:white;
}
.spark-screen .spark-plan-subscribe-button{ padding: 0 10px; }
nav.navbar{
  > .container{
    > .navbar-header {
      > .navbar-brand {
        padding:7px;
        display:table;
      }
    }
    height: $size-on-top;
  },
  > .navbar-default {
    background-color: color("red", "darken-2");
    color: color("grey", "darken-4");
    @include shadow-helper(3);
  }
}

.panel {
  @include shadow-helper(1);
}
.dropdown-content.active{
  @include shadow-helper(3);
}
.section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.spark-screen,
#spark-app > .container{
  margin-top: 1rem;
}
.spark-settings-tabs-stacked {
  margin:0;
}
.section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.spark-screen label,
label {
    font-size: 0.8rem;
    font-weight:400;
    color:#656464;
}

.spark-screen, #spark-app > .container {
  margin-top: 1em;
}

.spark-settings-tabs-stacked {
  margin: 0;
}
.smaller.navbar-fixed {
    > nav {
        > .nav-wrapper {
            >.brand-logo {
                > img {
                    height:$size-on-top;
                    margin-top:-10px;
                    transition: $anmiate;
                }
            }
        }
    }
}
.navbar-fixed {
    > nav {
        > .nav-wrapper {
            >.brand-logo {
                > img {
                    height: $size-on-top;
                    margin-top:-10px;
                    transition: $anmiate;
                }
                > i{
                    color: color("red", "lighten-2");
                }
                color: color("grey", "lighten-5");
                text-decoration:none;
            }
        }
    }
}
@media only screen and (min-width: 601px) {
    .smaller.navbar-fixed {
        > nav {
            > .nav-wrapper {
                >.brand-logo {
                    > img {
                        height: $size-on-top;
                        transition: $anmiate;
                    }
                }
            }
        }
    }
  .smaller.navbar-fixed > nav, .smaller.navbar-fixed > nav a.button-collapse, .smaller.navbar-fixed > nav > .submenu a i {
    height: $size-on-top;
    line-height: $size-on-top;
    transition: $anmiate;
  }
  nav {
    .right.hide-on-med-and-down a.button-collapse {
      i {
        transition: $anmiate;
      }
    }
  }
 .smaller.navbar-fixed > nav a.button-collapse,
 .smaller.navbar-fixed > nav a i
 .smaller.navbar-fixed,
 .navbar-fixed,
 nav > .right.hide-on-med-and-down a.button-collapse,
 .submenu > a.dropdown-button > i{
    height: $size-on-top;
    line-height: $size-on-top;
    transition: $anmiate;
  }

    .smaller.navbar-fixed {
        > nav,
        .submenu > a.dropdown-button > i{
          height: $size-on-top;
          line-height: $size-on-top;
          transition: $anmiate;
          .right.hide-on-med-and-down a.button-collapse {
            height: $size-on-top;
            line-height: $size-on-top;
            transition: $anmiate;
            i {
                 transition: $anmiate;
            }
        }
    }
    height: $size-on-top;
    
  }
}

@media only screen and (max-width: 601px) {
  .navbar-fixed > nav > .nav-wrapper > .brand-logo > img{
      height: $size-on-top;
      margin-top:-10px;
  }
  .smaller.navbar-fixed > nav a.button-collapse,
  .smaller.navbar-fixed > nav > .submenu a i
  .smaller.navbar-fixed,
  .navbar-fixed,
  nav > .right.hide-on-med-and-down a.button-collapse{
    height: $size-on-top;
    line-height: $size-on-top;
    transition: $anmiate;
  }
}
nav .nav-wrapper i {
   display: initial; 
   font-size: initial;
}
.smaller.navbar-fixed {
  -webkit-transition: $anmiate;
  transition: $anmiate;
}

nav ul a {
  font-size: 1.3em;
  color: #333;
}

.navbar-fixed > nav {
  background-color: color("grey", "lighten-5");
}

.spark-panel-body {
  padding: 0 !important;
}


.smaller.navbar-fixed > nav {
  .brand-logo {
    height: $size-on-top;
    > img {
      height: $size-on-top;
    }
  }
  height: $size-on-top;
  transition: $anmiate;
  a.button-collapse {
    height: $size-on-top;
    i {
      height: $size-on-top;
    }
  }
}

.backdrop {
  transform: scale(10) !important;
}
.spark-splash-screen .splash-get-started-btn{
    padding:0 20px;
}
.list-inline.splash-browser-dots > li {
    display:inline;
}
.splash-browser-dots-container {
  >.list-inline.splash-browser-dots {
    .yellow,
    .red,
    .green {
      background-color: transparent !important;
    }
  }
}
.method-button {
    background: none;
    border: none;
    color: #2B5A84;
    padding: 0;
    margin: 0;
}

.method-button:hover,
.method-button:active,
.method-button:focus {
    color: #18334a;
    outline: none;
    background: none;
}

.dropdown-content li > a,
.dropdown-content li > span{
  font-size: 1.1em;
  color: #737373;
}

nav > .button-collapse {
  position:absolute;
  top:0px;
  left:20px;
  color:#333;
}

.side-nav li.no-padding:hover{
  background:none;
  background-color:none;
}

.collapsible.popout{
    font-size: 1.1rem;
}
@media only screen and (min-width: 601px) and (max-width: 1260px) {
  .toast {
    width: 100%;
    border-radius: 5px;
  }
}

@media only screen and (min-width: 1261px) {
  .toast {
    width: 100%;
    border-radius: 5px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1260px) {
  #toast-container {
    bottom: 2rem;
    right: initial;
    left: 2rem;
    top: initial;
  }
}

@media only screen and (min-width: 1261px) {
  #toast-container {
    bottom: 2rem;
    right: initial;
    left: 2rem;
    top: initial;
  }
}

#spark-login-screen .panel-heading { 
    text-align:center;
    font-size:36px;
    color: #333;
}

.spark-screen .panel-heading {
    color: #5e5e5e;
}


.container-fluid {
  padding:0;
}
.spark-splash-screen .splash-nav {
  margin:0;
  padding:40px 0;
  position:fixed;
  width:100%;
  height:140px;
  background:color("blue-grey", "lighten-5");
}
.brand-logo,
.brand-logo:hover,
.navbar-fixed > nav > .nav-wrapper > .brand-logo,
.navbar-fixed > nav > .nav-wrapper > .brand-logo:hover {
    text-decoration: none;
    color:#5a5a5a;
}
.navbar-fixed > nav > .nav-wrapper > .brand-logo > i {
    font-size:1.8rem;
    padding-right: 5px;
}
.spark-splash-screen .smaller.splash-nav {
  margin:0;
  height:100px;
  padding:20px 0;
}
.row.splash-inspiration-row{
  margin-top:180px;
}

.container-fluid.spark-splash-screen .splash-brand a.brand-logo.p-link > i
{
  font-size: 2.6rem !important;
}
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover{
  background-color:transparent;
  background:transparent;
  border-color:transparent;
}
.pagination li{
  padding:0;
}
.caret{
  border-top: none !important;
  border-top: none !important;
  border-right: 22px solid transparent;
  border-left: none !important;
}

.card-title-headline{
  width:calc(100% - 20px);
  margin:10px;
  padding-top:10px;
  border-bottom:solid thin grey;
}
.badge.customize{
  padding:0 5px;
  position:inherit;
  color:#EEEEEE;
  margin:0;
  line-height:1.5rem;
}

#search{
  padding: 0 5px;
}
.user-profile *{
  word-wrap: break-word;
}

.card-title-custom {
  width: calc(100% - 20px);
  margin: 10px;
  padding-top: 10px;
  border-bottom: solid thin grey;
}

.card-body p,
.collapsible-body p{
  padding:1rem 1.5rem;
  margin-bottom:0;
}
.card-title > .close {
  padding:27px;
  padding-right:10px;
}

.list-item-link {
  padding: 1rem;
  width: 100%;
}
.card-badge {
  width: calc(100% - 20px);
  margin-top: -15px;
  margin-left: -5px;
}
.filler-card-comments {
  height: 1rem;
  width: 100%;
}