/*
 * Variables...
 */
$brand: color("red", "lighten-2") !default;
$brand-primary: color("blue", "lighten-1") !default;
$brand-success: color("green", "lighten-1") !default;
$brand-danger: color("red", "lighten-1") !default;

$state-success-text: #ffffff;
$state-success-bg: color("green", "lighten-1") !default;
$state-success-border: color("green", "lighten-1") !default;

$state-info-text: #ffffff;
$state-info-bg: color("blue", "lighten-1") !default;
$state-info-border: color("blue", "lighten-1") !default;

$state-danger-text: #ffffff;
$state-danger-bg: color("red", "lighten-1") !default;
$state-danger-border: color("red", "lighten-1") !default;

$text-color: #4c5557;
$font-family-sans-serif: "Lato", Helvetica, Arial, sans-serif !default;
$font-size-base: 14px;

$btn-font-weight: 300;

$navbar-height: 65px;

$panel-default-heading-bg: #ffffff;
$panel-default-text: color("grey", "lighten-3");
