@mixin menu-height(){
  height:60px;
}
@mixin light-shadow(){
  -webkit-box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
     -moz-box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
          box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
@mixin heavy-shadow(){
  -webkit-box-shadow:0 4px 10px 0 rgba(0,0,0,0.16),0 4px 20px 0 rgba(0,0,0,0.12);
     -moz-box-shadow:0 4px 10px 0 rgba(0,0,0,0.16),0 4px 20px 0 rgba(0,0,0,0.12);
          box-shadow:0 4px 10px 0 rgba(0,0,0,0.16),0 4px 20px 0 rgba(0,0,0,0.12);
}
body{
  background:#eee;
  color:#333;
}
nav.navbar{
  > .container{
    > .navbar-header {
      > .navbar-brand {
        padding:7px;
        display:table;
      }
    }
    @include menu-height();
  },
  > .navbar-default {
    background-color:#f1f1f1;
    @include heavy-shadow();
  }

  @include menu-height();

}

.section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
nav .nav-wrapper i{
  display:inline-block !important;;
  font-size:inherit !important;
}